body {
	font-family: Verdana, sans-serif;
	background-color: #acffdd;
	font-size: 90%;
}

h1 {
	font-size: 150%;
	margin-left: 7px;
}

h2 {
	font-size: 120%;
	margin-left: 15px;
}

ul {
	padding: 0px;
}

ul li {
	display: block;
	border: 1px solid grey;
	margin: 2px;
	padding: 10px 5px;
	list-style-type: none;
}

ul li a {
	text-decoration: none;
}

img {
	float: right;
	clear: right;
	margin-bottom: 5px;
	border: 1px solid black;
}

@media (width: 320px) {
	body {
		/* file must be in same directory as CSS file to have "Save website (complete)" work in Firefox/Chrome! */
		background: url(bground.png);
	}
	img {
		float: inherit;
	}
}
